
body {
    background-color: #F0F2F5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
}

#top-content {
    display: flex;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#top-content img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    #top-content img {
        margin: auto 0 auto auto !important;
    }
}

#top-content #row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#top-content #name-container {
    display: block;
}

@media screen and (max-width: 768px) {
    #top-content #name-container {
        margin-top: 25px;
    }
}

#top-content #name-container #name {
    font-size: 36px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

#top-content #name-container #email {
    font-size: 20px;
    color: #999999;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #name, #email {
        text-align: left !important;
    }
}

#top-content #image {
    display: flex;
}

#top-content [class^='col-'] {
    margin: auto;
}


#top-content #basic-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

#top-content #basic-info > div {
    display: flex;
    margin: 0 0 10px 200px;
}

#top-content #basic-info div {
    display: block;
    flex-basis: auto;
    margin-left: 30px;
}

#top-content #basic-info .value {
    margin-bottom: 30px;
}   

#top-content #basic-info .name {
    font-size: 15px;
    color: #999999;
}

#top-content #basic-info .value {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    color: #333333;
}

#top-content span, h2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

#medical-details {
    margin: 0 5%;
}

#medical-details div {
    padding: 3%;
    margin-top: 3%;
    border-radius: 3%;
    background-color: #FFFFFF;
}